[Desktop Entry]
Name=@@player_nice_name@@
Exec=@@prefix@@/bin/@@player_name@@-player
Icon=@@prefix@@/share/icons/@@player_name@@-player.icon
Terminal=false
Type=Application
Categories=Network;
